.wrap {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 360px;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.icon {
  position: absolute;
  left: 18px;
  color: #101828;
  pointer-events: none;
  width: 18px;
  height: 20px;
}

.iconSvg {
  transition: fill 0.3s ease, stroke 0.3s ease;
  width: 32px;
  height: 32px;
  padding-bottom: 8px;
}

.input[type="text"] {
  border-radius: 10px;
  background: #f7f7f7;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 44px;
  outline: none;
  border: none;
}

input::placeholder {
  color: rgba(16, 24, 40, 0.6);
  font-size: 16px;
}

.checkbox {
  appearance: none;
}

.label {
  width: 111px;
  height: 93px;
  display: flex;
  padding-top: 17px;
  padding-bottom: 17px;
  align-items: center;
  margin: 0;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid rgba(16, 24, 40, 0.2);
  transition: border 0.3s ease;
  mix-blend-mode: multiply;
  cursor: pointer;
}
.label.checked {
  border: 1px solid #e44848;
}
.checkboxContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.btnSearch {
  display: inline-flex;
  padding: 16px 60px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 200px;
  background: #e44848;
  color: #ffffff;
  outline: none;
  border: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.08px;
  cursor: pointer;
}

.btnSearch:hover,
.btnSearch:focus {
  background: #d84343;
}

.radioContainer {
  display: flex;
  gap: 10px;
}

.radio {
  appearance: none;
}

.labelRadio {
  width: 111px;
  height: 93px;
  display: flex;
  padding-top: 17px;
  padding-bottom: 17px;
  align-items: center;
  margin: 0;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid rgba(16, 24, 40, 0.2);
  transition: border 0.3s ease;
  mix-blend-mode: multiply;
  cursor: pointer;
  height: 95px;
}

.labelRadio:nth-child(even) {
  padding: 17px 24px;
  height: auto;
}

.labelRadio.checked {
  border: 1px solid #e44848;
}

.iconType {
  padding-bottom: 8px;
  transition: fill 0.3s ease, stroke 0.3s ease;
}